{% load tz %}

{% localtime on %}
    {{ value }}
{% endlocaltime %}

{% localtime off %}
    {{ value }}
{% endlocaltime %}

{% if event_list %}

    <table>
        <tr>
            <th>Event Name</th>
            <th>Host Country</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    {% for event in event_list %}
        <tr>
            <td style="text-align: center;"><a href="/eventos/{{ event.id }}/">{{ event.event_description }}</a></td>
            <td style="text-align: center;">{{ event.event_country }}</td>
            <td style="text-align: center;">{{ event.event_date }}</td>
            <td style="text-align: center;">{{ event.event_time }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <h3>No events are available.</h3>
{% endif %}
